        <div class="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header" style="color:#1B4991;">
                            Dashboard <small>{{testname}}</small>
                        </h1>
                       <!-- <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>-->
                    </div>
                </div>
                <!-- /.row -->

              
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="panel panel-purple">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-snowflake-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">23</div>
                                        <div>Cooling</div>
                                    </div>
                                </div>
                            </div>
                           <!-- <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left"></span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>-->
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-thermometer-2 fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">12</div>
                                        <div>Refrigerator</div>
                                    </div>
                                </div>
                            </div>
                            <!--<a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>-->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-fire fa-5x "></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">124</div>
                                        <div>Heating</div>
                                    </div>
                                </div>
                            </div><!--
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>-->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-plug fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">13</div>
                                        <div>Other</div>
                                    </div>
                                </div>
                            </div><!--
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>-->
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><!-- reference Profile-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"> Reference Profile</h3>
                            </div>
                            <div class="panel-body">
                                <div id="ReferenceProfile">
                                    <div class="col-xs-12 col-md-7 form-horizontal">
    <div class="form-group">
     <label for="building-type" class="control-label strong-text" >Building Type: &nbsp;&nbsp;</label>
      <select class="form-select" id="building-type">
        <option>House</option>
        <option>School</option>
        <option>Office</option>
        <option>Open Ground</option>
      </select>
    </div>
    <div class="form-group">
     <label for="plocation" class="control-label strong-text">Project Location: </label>
      <label id="plocation" class="control-label">{{project_location}}</label>
    </div>
    <div class="form-group">
     <label for="rlocation" class=" control-label strong-text">Reference Location: </label>
      <label id="rlocation" class="control-label">{{reference_location}}</label>
    </div>

    <div class="form-group">
     <label for="selected_doe" class="control-label strong-text">Selected DOE reference profile:</label>
      <label id="selected_doe" class="control-label">{{selected_doe}}</label>
    </div>
    <br/>
</div>
                                </div>
                               
                            </div>
                        </div>
                    </div><!-- reference Profile-->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><!--loading data-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Modification</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <div class="col-sm-12">
    <form class="form-horizontal">
        <div class="row form-line">
            
            <label class="radio-inline custom-radio nowrap">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                 <span>Constant Scaling <input type="text" name="scalingfactor-text" class="mini-text"></span>
            </label>
            <p></p>
             <label class="radio-inline custom-radio nowrap">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option1">
                 <span>Custom Monthly Data &nbsp; &nbsp; 
                 <i class="fa fa-download" aria-hidden="true"></i></span>
            </label>
            <p></p>
            <label class="radio-inline custom-radio nowrap">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option1">
                 <span>
                   Constant Hourly Data &nbsp;&nbsp;<input id="fileInput" type="file" (change)="onChange($event)"/>
                 </span>
            </label>
            <p></p>
            <label class="radio-inline custom-radio nowrap">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option1">
                 <span>Constant Detailed Load Data&nbsp;&nbsp;
                    <i class="fa fa-download" aria-hidden="true"></i></span>
            </label>
            <p>&nbsp;</p>
        </div>
    </form>

</div><!-- loading Data-->
                                </div>
                            </div>
                        </div>
                    </div>
                   <!-- <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> file={{csvUrl}}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                        <tr *ngFor="let x of csvfile$|async">
                                          <td *ngFor="let y of x">{{ y }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- /.row -->
<!-- chart-display-->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>
                            </div>
                            <div class="panel-body">
                                <img id="modalimg" class="img-responsive modalimg col-sm-3 col-xs-6" src="./graph.png" width="50%" height="50%"> 
                                <img class="img-responsive modalimg col-sm-3 col-xs-6" src="./graph.png" width="50%" height="50%"> 
                                <img class="img-responsive modalimg col-sm-3 col-xs-6" src="./graph.png" width="50%" height="50%"> 
                                <img class="img-responsive modalimg col-sm-3 col-xs-6" src="./graph.png" width="50%" height="50%"> 
                                <!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01" src="./graph.png">
</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.chart display -->


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

