/* Top Menubar*/
.menubar{
    overflow: hidden;
    background-color:#F7D358;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.menubar img{
    width:30px;
    height: 30px;
}
.menubar  a {
    float: left;
    display: block;
    color: #343434;
    text-align: center;
    padding: 14px 16px;
    font-weight: 500;
    text-decoration: none;
}
.menubar a:hover{
    font-weight: 700;
}
.menubar a.active{
    font-weight: 700;
    color:#DF3A01;
}
/* icon bar */

.icon-bar {
    margin-top: 30px;
    padding-top:30px;
    width: 90px; /* Set a specific width */
    background-color: #01A9DB; 
    min-height: 100%;
    bottom: 0;
    top:26px;
    display: block;
    position: fixed;
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
    color: #000; /* Add a hover color */
}

.icon-bar a.active {
    color: #F7D358; /* Add an active/current color */
}

/*Sidebar*/
.sidebar{
    overflow: hidden;
    background-color:#F3F781;
    position: fixed; /* Set the navbar to fixed position */
    margin-top: 30px;
    padding-top:30px;
    left:0;
    height: 100%;
    max-width: 90px; 
    
}
.sidebar  a {
    display: block;
    color: #343434;
    padding: 12px;
    text-decoration: none;
    font-weight: 500;
}
.sidebar a:hover{
    font-weight: 700;
}
.sidebar a.active{
    font-weight: 700;
    color:#DF3A01;
}